# General
.DS_Store
Thumbs.db
.env
.env.*
!.env.example

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python / Backend
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/
backend/*.pyc
cache/*


# VS Code
.vscode/
