@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --blanco: #fbfbfb;
  --azul-cobalto: #0047ab;
  --azul-electrico: #00bfff;
  --marron: #a52a2a;
  --dorado: #ffd700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #333;
}
